<!DOCTYPE html>
<html lang="en">

<head>    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Webpack Boilerplate </title>

    <!-- Imports Stylesheets -->
    <% htmlWebpackPlugin.files.css.forEach(function(file){ %>
        <link href="<%- file %>" rel="stylesheet">
    <% }); %>
</head>

<body>
    <h1> Senso </h1> 
    <button onclick="start()"> Start Game </button>

    <main>
        <div onclick="onClick('GreenLight', 0)" id="GreenLight" class="light" />
        <div onclick="onClick('RedLight', 1)" id="RedLight" class="light" />
        <div onclick="onClick('BlueLight', 2)" id="BlueLight" class="light" />
    </main>

    <p class="turn"> Its not your turn! </p>

    <div class="healthbar">
        <div class="health health__bar1" ></div>
        <div class="health health__bar2" ></div>
        <div class="health health__bar3" ></div>
    </div>

    <!-- Imports Scripts -->
    <% htmlWebpackPlugin.files.js.forEach(function(file){ %>
        <script src="<%- file %>"></script>
    <% }); %>
</body>

</html>
