@import "./reset";

html {
    background: rgb(27, 27, 27);
    color: silver;
}

body {
    background: rgb(53, 53, 53);
    box-shadow: 0 1px 10px 3px rgba(100, 224, 88, 0.789);
}

main {
    padding: 10px;
}

main, .header__level {
    display: none;
}


@import "./button";
@import "./title";
@import "./health";
@import "./light";
@import "./turn";
@import "./header";
@import "./level";